<nav class="navbar navbar-expand-lg index-nav  fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/index" style="color: #F2294E; font-size: 1rem;">Loja Virtual</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav nav-underline me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!idUser">
            <a class="nav-link " aria-current="page" routerLink="/login" style="color:#05C7F2">Logar</a>
          </li>
          <li class="nav-item" *ngIf="idUser">
            <a class="nav-link " aria-current="page" (click)="logout()" style="color:#05C7F2">Sair</a>
          </li>
          <li class="nav-item" *ngIf="!idUser">
            <a class="nav-link"  routerLinkActive="activebutton" routerLink="criar-conta" style=" color:#05C7F2">
              Criar Conta
            </a>
          </li>
          <div class="collapse navbar-collapse" *ngIf="idUser">

            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn color-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color:#05C7F2">
                  Perfil
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" routerLink="user-config">Informações da conta</a></li>
                  <li><a class="dropdown-item" routerLink="/">cadastro</a></li>
                  <li><a class="dropdown-item" routerLink="/">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <li class="nav-item" *ngIf="idUser">
            <a class="nav-link"> 
              <div matBadge="{{quantidadeCarrinho}}" matBadgeOverlap="false" class="demo-section">
               <a routerLink="carrinho-detalhe/{{id}}" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
                
                <mat-icon style="color: black;">shopping_cart</mat-icon>
               </a>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
      
    </div>
  </nav>
<router-outlet></router-outlet>

