<div class="tabela" *ngIf="isUpdate == false" >
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z10">
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome</th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Nome de Usuario </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.username}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Perfil </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario.role.nome}} </td>
    </ng-container>
    
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Selecione </th>
      <td mat-cell *matCellDef="let usuario"> 
        <span style="display: flex; margin: 2px;">
          <button  data-bs-toggle="modal" 
          data-bs-target="#exampleModal" style="margin: 2px;" 
          mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" 
          (click)="deletar(usuario.id)" >
            <mat-icon>delete</mat-icon>
          </button>
          <button  style="margin: 2px;" (click)="updateFildsForm(usuario.id)" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let usuario; columns: displayedColumns;"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Usuario não encontrado "{{input.value}}"</td>
    </tr>
    <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Produto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Realmente deseja excluir este item ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button"  class="btn btn-danger">Deletar</button>
          </div>
        </div>
      </div>
    </div>
    
</table>
</div>
<div *ngIf="isUpdate">
  <div class="example-container container">
    <mat-card class="card">
      <form  class="form">   
        <mat-form-field  appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput  placeholder="" [(ngModel)]="usuario.name" name="name">
        </mat-form-field>
        <mat-form-field hintLabel="Max 30 characters" appearance="fill">
            <mat-label>Nome de usuario</mat-label>
            <input matInput #input maxlength="30" [(ngModel)]="usuario.username" name="username" placeholder="">
            <mat-hint align="end">{{input.value.length}}/30</mat-hint>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label >Email</mat-label>
            <input matInput  placeholder="email@example.com" [(ngModel)]="usuario.email" name="email" required><!--[formControl]="email"-->
            
        </mat-form-field>
    
        <!--<mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput [(ngModel)]="usuario.password" [value]="usuario.password" [type]="hide ? 'password' : 'text'" name="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>-->
        <mat-form-field appearance="fill">
          <mat-label >Perfil</mat-label>
          <input matInput   [value]="usuario.role.nome" name="role" ><!--[formControl]="email"-->
      </mat-form-field>
        <!--<mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <mat-select [(ngModel)]="usuario.role" name="role">
              <mat-option *ngFor="let role of roles"    [value]="role">{{role.id}} | {{role.nome}}</mat-option>
            </mat-select>
          </mat-form-field>-->
        <div class="btns">
            <button mat-raised-button (click)="save()" color="primary">Salvar</button>
            <button  mat-raised-button (click)="cancel()" color="primary">Cancelar</button>
        </div>
      </form>
    </mat-card>
</div>
  