.example-right-align {
    text-align: right;
}
  

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}
.container .formulario{
    display: flex;
    flex-direction: column;
    margin: 4px;
    width: 80%;

}
.container .formulario .btns{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form form{
    display: flex;
    flex-direction: column;
    margin: 3px;
    width: 40%;
}
.form .card{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .card .btn{
    display: flex;
    margin: 3px;
    justify-content: center;
}
.form .card .btn button{
    margin: 3px;
    
}