<div class="tabela" *ngIf="isUpdate == false">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> #Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações</th>
          <td mat-cell *matCellDef="let element"> 
            <button  data-bs-toggle="modal" 
          data-bs-target="#exampleModal" style="margin: 2px;" 
          mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="deletar(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button  style="margin: 2px;" mat-mini-fab color="primary" (click)="updateFilds(element.id)" aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</div>
<div class="form" *ngIf="isUpdate">
  <mat-card class="card">
      <form action="">
          <mat-form-field class="example-form-field">
            <mat-label>Nome</mat-label>
            <input matInput type="text" [(ngModel)]="categoria.nome" name="nome">
          </mat-form-field>
          <div class="btns">
          <button style="margin: 3px;" mat-stroked-button (click)="save()" color="primary">Salvar</button>
          <button style="margin: 3px;" mat-stroked-button (click)="cancel()" color="basic">Cancelar</button>
          </div>
      </form>
  </mat-card>
</div>