.footer{
    margin-bottom: 0px;
    height: 100px;
    background-color: #334075;
    color: #fff;
}
@media screen and (max-width: 577px) {
    .footer{
        height: 121px;
    }
    .contato{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 595px) {
    .footer{
        height: 121px;
    }
    .contato{
        display: flex;
        flex-direction: column;
    }
    
  }