.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .card{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px;
}
.form form .btns{
    display: flex;
    justify-content: center;
}