<div class="form">
    <mat-card class="card">

        <form action="">
            <mat-form-field class="example-form-field">
              <mat-label>Nome</mat-label>
              <input matInput type="text" >
            </mat-form-field>
            <mat-form-field class="example-form-field">
              <mat-label>Data Nascimento</mat-label>
              <input matInput type="date" >
            </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>CPF</mat-label>
            <input matInput type="text" >
          </mat-form-field>
          
          <mat-form-field class="example-form-field">
            <mat-label>Telefone</mat-label>
            <input matInput type="text" name="categoria">
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Endereço</mat-label>
            <input matInput type="text" name="categoria">
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>CEP</mat-label>
            <input matInput type="text" name="categoria">
          </mat-form-field>
          
          <div class="btn">
            <button mat-stroked-button color="primary">Salvar</button>
            <button mat-stroked-button color="basic">Cancelar</button>
          </div>
        </form>
    </mat-card>
</div>